body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornsilk;
}

.container {
    height: 150px;
    width: 300px;
    perspective: 250px;
    position: relative;
}


.tarjeta {
    height: 80px;
    width: 50px;
    background-color: rgb(16, 2, 204);
    font-size:40px;
    position: absolute;
    top:35px;
    left:125px;
    border-radius:8px;
    text-align: center;
    cursor: pointer;
    animation: carrusel 8s linear infinite;

}

    @keyframes carrusel{
    from{
    transform: rotateY(360deg) translateZ(100px);
    z-index: 10;
    opacity: 0.9;  

    } 
    50%{
    z-index: -10;
     
    }
    to{
    transform: rotateX(0deg) translateZ(100PX);
 
    }   
}
    #varita8{
    background-image: url(/imgVaritas/varita8.png);
    background-size: cover; 
   
    }

    #varita7{
    background-image: url(/imgVaritas/varita7.png); 
    background-size: cover; 
    animation-delay: -1s;
}

    #varita6{
    background-image: url(/imgVaritas/varita6.png); 
    background-size: cover;
    animation-delay: -2s;
}

    #varita5{
    background-image: url(/imgVaritas/varita5.png); 
    background-size: cover;
    animation-delay: -3s;
}


    #varita4{
    background-image: url(/imgVaritas/varita4.png); 
    background-size: cover;
    animation-delay: -4s;
}


    #varita3{
    background-image: url(/imgVaritas/varita3.png); 
    background-size: cover;
    animation-delay:-5s;
}


    #varita2{
    background-image: url(/imgVaritas/varita2.png); 
    background-size: cover;
    animation-delay: -6s;
}

    #varita1{
    background-image: url(/imgVaritas/varita1.png); 
    background-size: cover;
    animation-delay: -7s;
}

.tarjeta h3 {
    color: rgb(0, 38, 255);
    font-size: 5px;
    margin-top: 70px;
    font-family: "nabla";
    background-color: black;
    
}


